.mathematical-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.event-card {
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-type {
    font-style: italic;
    color: #6c757d;
}

.event-date {
    font-weight: bold;
    color: #007bff;
}
.navbar-brand img {
    max-height: 40px;
    width: auto;
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: right;
    }
}